<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Delete Ingredients</a></li>
</ol>

<br/>
<%- partial ('partials/statusmessage.ejs') %>

<!-- //Adding ingredients form -->
<h2>Delete Ingredients</h2>
<select id="recipe_chooser_destroyer" name="recipe_id">
  <option value="">Choose a recipe</option>
      <% if(typeof recipes != "undefined" && recipes.length > 0){ %>
        <% recipes.forEach(function(recipe){ %>
          <option value="<%= encodeURI(JSON.stringify(recipe)) %>">
            <%= recipe.title %>
          </option>
        <% }) %>
      <% } %>
  </select>

<div>
  <table>
      <thead>
      </thead>
      <tbody id="deleteIngredientsTable">
      </tbody>
    </table>
</div>
