<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Delete Instructions</a></li>
</ol>

<br/>
<%- partial ('partials/statusmessage.ejs') %>


<!-- //Adding instructions form -->
<h2> Delete Instructions</h2>
<select id="recipe_id" name="recipe_id">
      <% if(typeof recipes != "undefined" && recipes.length > 0){ %>
        <% recipes.forEach(function(recipe){ %>
          <option value="<%= recipe.id %>">
            <%= recipe.title %>
          </option>
        <% }) %>
      <% } %>
      </select>

      <div>
      <table>
        <thead>
          <tr>
            <th>Step Number</th>
            <th> Instruction</th>
          </tr>
        </thead>
        <tbody id="deleteInstructionsList">
        </tbody>
      </table>
      </div>
